<div class="container">
  <div class="col-md-9 row">
　　 <% @blogs.each do |blog| %>
　　   <div class="panel blog-panel">
　　     <h5 class="date"><%= blog.created_at.strftime("%Y/%m/%d") %></h5>
　　     <%= link_to(blog) do %>
　　     <h2 class="title"><b><%= blog.title if blog.title? %></b></h1>
　　     <% end %>
        <div class="blog-tag">
        <% blog.tags.each do |tag| %>
          <span class="badge badge-primary"><%= tag.name %></span>
        <% end %>
        </div>
        <%= image_tag blog.picture.url if blog.picture? %>
        <h4><%= markdown(blog.content).html_safe if blog.content? %></h4>
        </div>
      <% end %>
   </div>
　　<div class="col-md-3">
　　<%= render 'users/sidebar' %>
　　</div>
</div>

<%= will_paginate @blogs, :previous_label => '&lt 前のページ', :next_label => '次のページ &gt' %>