<div class="container">
  <div class="col-md-9 row">
    <div class="panel blog-panel">
      <div>
        <h5 class="date"><%= @blog.created_at.strftime("%Y/%m/%d") %></h5>
        <h2 class="title"><b><%= @blog.title if @blog.title? %></b></h1>
        <div class="blog-tag">
        <% @blog.tags.each do |tag| %>
          <span class="badge badge-primary"><%= tag.name %></span>
        <% end %>
        </div>
        <%= image_tag @blog.picture.url if @blog.picture? %>
        <h4><%= @blog.content %></h4>
      </div>
    </div>
    <div class="comments">
      <h4><b>コメント</b></h4>
      <% @comments.each do |comment| %>
      <h5><b><%= comment.title %></b></h5>
      <h5 class="content"><%= comment.content %></h5>
      <ul>
        <li><small><%= comment.created_at.strftime("%Y/%m/%d") %></small></li>
        <li><small>by<%= comment.name %></small></li>
        <li><small><%= comment.url %></small></li>
      </ul>
      <% end %>
    </div>  
    <%= render 'comments/form', comment: @comment %>
  </div>
  <div class="col-md-3">
  <%= render 'users/sidebar' %>
  </div>
</div>
