<div class="container">
  <div class="jumbtron text-center">
    <h4><%= @blog.created_at.strftime("%Y/%m/%d") %></h4>
    <h2><b><%= @blog.title %></b></h1>
    <%= image_tag @blog.picture.url if @blog.picture? %>
    <h4><%= @blog.content %></h4>
    <%= link_to "再編集する", edit_blog_path(@blog)%>
  </div>
</div>
