<div class="container blog">
  <%= form_for(blog) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="col-md-9">
      <div class="form-group">
        <%= f.text_field :title, class: "form-control input-lg", placeholder: "こちらにタイトルを入力してください" %>
      </div>
      <div class="form-group">
       <%= f.file_field :picture, id: :blog_img %>
       <%= image_tag @blog.picture.url, id: :img_prev, class: :"profile-img" if @blog.picture? %>
      </div>
      <div class="form-group">
        <%= f.text_area :content, class: "form-control", placeholder: "こちらに本文を入力してください", rows: 25 %>
      </div>  
      <div class="container-fluid">
        <%= f.submit "記事を保存", class: "btn btn-primary" %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <span>タグ</span>
        <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
          <div class="form-check">
            <%= tag.label class: "form-check-label" do %>
              <%= tag.check_box class: 'form-check-input' %>
              <%= tag.text %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<script type="text/javascript">
$(function() {
 function readURL(input) {
   if (input.files && input.files[0]) {
     var reader = new FileReader();
     reader.onload = function (e) {
       $('#img_prev').attr('src', e.target.result);
     }
     reader.readAsDataURL(input.files[0]);
   }
 }
 $("#blog_img").change(function(){
   readURL(this);
 });
});
</script>